{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
<style>
.col-md-4{
	text-align:center;
}
</style>
<!-- breadcrumbs -->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">About</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--typography-page -->
	<div class="typo">
		<div class="container-fluid">
			<div class="typo-grids">
			<h3 class="title animated wow zoomIn" data-wow-delay=".5s">About FitNess Store</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s">At Life Fitness, product development and innovation are done with the exerciser and commercial fitness facility in mind. Our mission is to provide solutions that get the world moving and help people lead active and healthy lives..</p>
			<div class="grid_3 grid_4 animated wow fadeInUp px-0" data-wow-duration="1000ms" data-wow-delay="500ms" style="background:url({% static 'images/background.gif'%});background-size:100% 100%;">
				<div class="bs-example" style="padding:0px;background:rgba(0,0,0,0.8);height:300px;line-height:300px;color:white;text-align:center;">
					<h1 style="padding-top:10%;">Online FitNess Store</h1>
				</div>
			</div>
			<div class="grid_3 grid_5 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
					<div class="about">
							<div class="container">	
								<div class="row">
										<h4 class="heading text-capitalize text-center mb-lg-5 mb-4 pb-2">What we want?</h4></br></br>
									</br>
									<div class="col-md-6 w3ls_about_grid_left">
										<p> 
											<strong style="font-size:18px">Our Purpose and Goal:</strong>
										</br>
											Due to rapid growth of technology, business organizations have switched over from the 
											traditional method of selling goods to method of online selling goods. Our goal is to be the 
											best online  place to find wide varieties of high-quality Health/Fitness products with discounts.
											Customer satisfaction is one of our main purpose.we are the best online platform for shopping.
										</p>
										<div class="col-xs-2 w3ls_about_grid_left1">
											<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
										</div>
										<div class="col-xs-10 w3ls_about_grid_left2">
											<p>
												<strong>Benefits of shopping:</strong>
												<br/>
												•&nbsp; Compare various models / brands.</br>
												•&nbsp; Wide variety / range of products are available.</br>
												•&nbsp; Good discounts / Better prices.</br>
												•&nbsp; detailed information of the product/Stock Details.</br>
												•&nbsp; Convenient of shopping at Home.</br>
												•&nbsp; Complaints.</br>
											</p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="col-md-6 w3ls_about_grid_right">
										<img src="{% static 'images/header_home.jpg' %}" alt=" "style="height:360px" class="img-responsive" />
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>
						</div>
			</div>			   
			<div class="grid_3 grid_5 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				<section class="services bg-light py-5" id="ideas">
					<div class="container py-lg-5 py-3">
						<h1 class="heading text-capitalize text-center mb-lg-5 mb-4 pb-2">Our Services</h1></br></br>
						<div class="row service-grids">
							<div class="d col-lg-4 col-md-6">
								<div class="grid1 text-center p-4 bg-white">
									<br/>
									<span class="fa fas fa-balance-scale"></span>
									<h5 class="my-3">Brands & Models</h5></br>
									<p>We can compare various models/brands.</p>
									<br/>
								</div>
							</div>
							<div class="d col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
								<div class="grid2 text-center p-4 bg-white">
									<br/>
									<span class="fa fa-bars"></span>
									<h5 class="my-3">Wide varieties</h5></br>
									<p>Range of products are available.</p>
									<br/>
								</div>
							</div>
							<div class="d col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
								<div class="grid3 text-center p-4 bg-white">
									<br/>
									<span class="fa fa-truck"></span>
									<h5 class="my-3">Home Delivery</h5></br>
									<p> Convenient of shopping at home.</p>
									<br/>
								</div>
							</div>
							<div class="d col-lg-4 col-md-6 mt-md-5 mt-4">
								<div class="grid4 text-center p-4 bg-white">
									<br/>
									<span class="fa fas fa-percent"></span>
									<h5 class="my-3">Discount</h5></br>
									<p>Products are available at good discounts/better prices.</p>
									<br/>
								</div>
							</div>
							<div class="d col-lg-4 col-md-6 mt-md-5 mt-4">
								<div class="grid5 text-center p-4 bg-white">
									<br/>
									<span class="fa fa-usd"></span>
									<h5 class="my-3">Cash On Delivery</h5></br>
									<p>We support both online payment & cash on Delivery.</p>
									<br/>
								</div>
							</div>
							<div class="d col-lg-4 col-md-6 mt-md-5 mt-4">
								<div class="grid6 text-center p-4 bg-white">
									<br/>
									<span class="fa fa-comments"></span>
									<h5 class="my-3">Orders/Feedbacks</h5></br>
									<p>Check order status/give feedback or make Complaints</p>
									<br/>
								</div>
							</div>
						</div>
					</div>
				</br></br></br>
				</section>
			</div>
			<div class="grid_3 grid_5 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				<div class="team team-bottom">
						<h1 class="text-center">Popular Workouts</h1>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								
							</div>
							<div class="grid_3 grid_5 animated wow fadeInUp col-md-4" data-wow-duration="1000ms" data-wow-delay="500ms">
									<iframe width="80%" height="315" src="https://www.youtube.com/embed/qWy_aOlB45Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
							<div class="grid_3 grid_5 animated wow fadeInUp col-md-4" data-wow-duration="1000ms" data-wow-delay="500ms">
								<iframe width="80%" height="315" src="https://www.youtube.com/embed/oze91Sr-ZVI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>							
							</div>
							<div class="grid_3 grid_5 animated wow fadeInUp col-md-4" data-wow-duration="1000ms" data-wow-delay="500ms">
								<iframe width="80%" height="315" src="https://www.youtube.com/embed/XwfTTbEbwng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								
							</div>
							<div class="grid_3 grid_5 animated wow fadeInUp col-md-4" data-wow-duration="1000ms" data-wow-delay="500ms">
								<iframe width="80%" height="315" src="https://www.youtube.com/embed/eV7hkrp9nII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>								
							</div>
							<div class="grid_3 grid_5 animated wow fadeInUp col-md-4" data-wow-duration="1000ms" data-wow-delay="500ms">
								<iframe width="80%" height="315" src="https://www.youtube.com/embed/2Yk_z7CK6Ig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>							</div>
							<div class="grid_3 grid_5 animated wow fadeInUp col-md-4" data-wow-duration="1000ms" data-wow-delay="500ms">
								<iframe width="80%" height="315" src="https://www.youtube.com/embed/v-KZ3R1f2Ps" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>					
							</div>
				</div>
			</div>
			<div class="grid_3 grid_5 animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				<div class="team team-bottom">
					<div class="container">
						<h1>Are You Ready For Deals?</h1>
						</br>
						<a href="{% url 'mysite:showproducts'%}">Shop Now</a>	
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
<!-- //typography-page -->
{% endblock%}