<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Fitness Store | Buy fitness products online!!</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- //js -->
<!-- cart -->
<script src="{% static 'js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- timer -->
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" />
<!-- //timer -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
<script src="{% static 'js/wow.min.js' %}"></script>
{% block head %}
{% endblock %}
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@sachtechsolution.com">info@sachtechsolution.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 892</li>
						{% if user.is_authenticated%}
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="{% url 'mysite:uslogout'%}">Logout</a></li>
						{%else%}
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="{% url 'mysite:uslogin'%}">Login</a></li>
						<li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="{% url 'mysite:usregister'%}">Register</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="header-grid-right animated wow slideInRight" data-wow-delay=".5s">
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="{% url 'index'%}">FitNess Store <span>Shop anywhere</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div> 
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="{% url 'index'%}" class="act">Home</a></li>	
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="openproduct">Categories <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										{% for i in allcat %}	
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>{{i.0}}</h6>
												{% for j in i %}
												<li><a href="{% url 'mysite:showproducts' %}?searchcat={{i.0}}&&scat={{j.category_name}}">{{j.category_name}}</a></li>
												{% endfor %}
											</ul>
										</div>
										{% endfor %}

										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li><a href="{% url 'mysite:showproducts' %}">Products</a></li>
							<li><a href="{% url 'mysite:about'%}">About</a></li>
							<li><a href="{% url 'mysite:contact'%}">Mail Us</a></li>
						</ul>
					</div>
					</nav>
				</div>
				<div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form action="{% url 'mysite:showproducts'%}" method="get">
								{% csrf_token %}
								<input class="sb-search-input" placeholder="Search by Product name, category,brand.." name="term" type="search" id="search">
								<input class="sb-search-submit" type="submit" value="" name="search">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<script src="{% static 'js/classie.js'%}"></script>
						<script src="{% static 'js/uisearch.js'%}"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
				</div>
				<div class="header-right">
					<div class="cart box_1">
						{% if user.is_authenticated%}
						<div>
							<div class="dropdown w-100">
								<button class="btn text-light btn-block btn-warning mt-4" type="button" data-toggle="dropdown" >
								<i class="fas fa-user"></i>	My Account
								</button>
								<ul class="dropdown-menu">
								<li class="dropdown-item"><a href="{% url 'mysite:profile'%}">View Profile</a></li>
								<li class="dropdown-item"><a href="{% url 'mysite:change_profile'%}">Change Profile</a></li>
								<li class="dropdown-item"><a href="{% url 'mysite:change_password'%}">Change Password</a></li>
								<li class="dropdown-item"><a href="{% url 'mysite:order_history'%}">My Orders</a></li>
								<li class="dropdown-item"><a href="{% url 'mysite:cart'%}">My Cart</a><hr/></li>
								<li class="dropdown-item"><a href="{% url 'mysite:uslogout'%}">Logout</a></li>
								</ul>
							</div>
						</div>
						{% endif %}
					</div>	
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->
{% block body %}
{% endblock %}
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>We are offering high quality fitness products and some workouts as well</p><br>
					<p>Our mission is to provide solutions that get the world moving and help people lead active and healthy lives.</span></p>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>#C-86, Pannu Towers, Phase 7,<span>Mohali</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@sachtechsolution.com">info@sachtechsolution.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
					<h3>Flickr Products</h3>
					<!-- <div class="footer-grid-left"> -->
						<div class="row">
							{% for i in recent %}
								<div class="col-md-6">
									<a href="{% url 'mysite:single'%}?id={{i.id}}"><img src="/media/{{i.photo}}" alt=" " class="img-responsive" style="height:50px;width:50px;margin:10px;" /></a>
								</div>
							{% endfor %}
						</div>
						
					<!-- </div> -->
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
					<h3>Top Brands</h3>
					{% for i in brand %}
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
							<a href="{% url 'mysite:single'%}?id={{i.id}}"><img src="/media/{{i.brand_logo}}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="{% url 'mysite:single'%}">{{i.brand_name}}</a></h4>
							<p>Member Since {{i.create_date}}</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					{% endfor %}
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="{% url 'index'%}">FitNess Store <span>shop anywhere</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>&copy 2019 Best Store. All rights reserved | Design by <a href="http://sachtechsolution.com">SachTech Solution Pvt. Ltd.</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<script src="{% static 'js/imagezoom.js'%}"></script>
<script>
$(function(){
	// $('#openproduct').hover(function(){
	// 	$(this).click();
	// })
	// alert('openproduct');
})
</script>
</body>
</html>