{% extends "base.html"%}
{% load staticfiles%}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'mystyle.css'%}">

{% endblock %}
{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <div class='ab text-center' style="padding-bottom:10px;">
                <img src="/media/{{pp.pic}}" class='dash-img' style='height:80px;width:80px;border-radius: 50%;'>
                <p><a href=""> {{pp.subtitle}} {{user.first_name}}</a></p>
            </div>
            <div class='ab list-group'>
                <h4 class='title'><i class="far fa-address-card"></i> Manage Profile</h4>
                <a href="{% url 'mysite:profile'%}" class='list-group-item dash'>My Profile</a>
                <a href="{% url 'mysite:change_profile'%}" class='list-group-item dash'>Change Profile</a>
                <a href="{% url 'mysite:change_password'%}" class='list-group-item dash'>Change Password</a>
            </div>
            <div class='ab'>
                <h4 class='title'><i class="fas fa-cart-arrow-down"></i> My Orders</h4>
                <a href="{% url 'mysite:order_history'%}" class='list-group-item dash'>Order History</a>
                <a href="{% url 'mysite:cart'%}" class='list-group-item dash'>My Cart</a>     
            </div>
            <div class='ab' style="margin-top:10px;margin-bottom:10px;">
                <h4 class='title'>
                    <a href="{% url 'mysite:uslogout'%}" class='list-group-item dash'><i class="fas fa-sign-out-alt"></i> Logout</a>
                </h4>
            </div>
        </div>
        <div class='col-md-9' id='rcover'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}