{% extends "base.html"%}
{% block body %}
{% if response %}
<script>
	alert('{{response}}');
</script>
{% endif %}
<!-- breadcrumbs -->
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Login Page</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Login to FitNes</h3>
			<p class="est animated wow zoomIn" data-wow-delay=".5s"> Fill Your Account Details to Login. Stay Fit!! Stay Happy!!</p>
			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				<form method="post">
					{% csrf_token %}
					<input type="email" placeholder="Email Address" required=" " name="email">
					<input type="password" placeholder="Password" required=" " name="password">
					<div class="forgot">
						<label for="Remember Me"><input type="checkbox" name="remember">Remember Me</label>
					</div>
					<input type="submit" value="Login" name="signin">
				</form>
			</div>
			<h4 class="animated wow slideInUp" data-wow-delay=".5s">For New People</h4>
			<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="{% url 'mysite:usregister'%}">Register Here</a> (Or) go back to <a href="index.html">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
		</div>
	</div>
<!-- //login -->
{% endblock %}