{% extends "dashboard.html" %}
{% load staticfiles%}
{% block style %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'mystyle.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<style>
.ab{
    border:1px solid black !important;
}
.cover{
    height:200px;background:url('{% static "images/banner.jpg"%}');width:100%;
}
</style>
{% endblock %}
{% block content %}
    
        <div class='row cover' style="background:url('{% static "images/banner.jpg"%}');">
            <div class='col-md-12' style='background:rgba(0,0,0,0.6);color:white;'>
                <h2 class='text-center text-light font-weight-bold' style='line-height:150px;'>{{pp.subtitle}} {{pp.first_name}} {{pp.last_name}}</h2>
               
            </div>
        </div>
        <div class='row py-4 mt-5'>
            <div class='col-md-12'>
                <h2>Details</h2>
                <div style='height:2px;width:100px;background:#ff5063'></div>
                <table class='table table-striped mt-4 table-hover'>
                    <tbody>
                        <tr>
                            <th>Full Name</th>
                            <td>{{pp.subtitle}} {{pp.first_name}} {{pp.last_name}}</td>
                        </tr>
                        <tr>
                            <th>User ID</th>
                            <td>{{pp.id}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{pp.username}}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{pp.city}}</td>
                            
                        </tr>
                        <tr>
                            <th>Member Since</th>
                            <td>{{pp.registered_on}}</td>        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}